<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Secrets</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <meta charset="UTF-8" />
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
        
        <h1>These messages are visible only for you</h1>
        <p>The first two are examples</p>
        
        <table>
            <tr><th>Id</th><th>Secret message</th></tr>
            <tr th:each="entry : ${idsandnames}">
            <td>
                <span th:text="${entry.key}">id</span>
            </td>
            <td>
                <span th:text="${entry.value}">name</span>
            </td>
            </tr>
        </table>

        <form action="#" th:action="@{/secret}" method="POST">
            <p><label for="secret">Secret</label>: <input type="text" name="secret" id="secret"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
        
    </body>
</html>
