<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Secrets</title>
        <meta charset="UTF-8" />
    </head>
    <body>

        <h1>Secrets</h1>

        <table>
            <tr>
            <td th:each="id : ${ids}">
                <span th:utext="${id}">id</span>
            </td>
            </tr>
            <tr>
            <td th:each="name : ${names}">
                <span th:utext="${name}">name</span>
            </td>
            </tr>
        </table>

        <form action="#" th:action="@{/secret}" method="POST">
            <p><label for="secret">Secret</label>: <input type="text" name="secret" id="secret"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
        
    </body>
</html>
