<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Secrets</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <meta charset="UTF-8" />
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
        
        <h1>These messages are visible only for you</h1>

        <table>
            <tr>
            <td th:each="id : ${ids}">
                <span th:utext="${id}">id</span>
            </td>
            </tr>
            <tr>
            <td th:each="name : ${names}">
                <span th:utext="${name}">name</span>
            </td>
            </tr>
        </table>

        <form action="#" th:action="@{/secret}" method="POST">
            <p><label for="secret">Secret</label>: <input type="text" name="secret" id="secret"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
        
    </body>
</html>
